<div class="row">
    <div class="col-md-6">
        <h3 id="syllabus-spreadsheets">Data organization in spreadsheets</h3>
        <ul>
            <li>Formatting data tables in Spreadsheets</li>
            <li>Formatting problems</li>
            <li>Dates as data</li>
            <li>Quality control</li>
            <li>Exporting data</li>
            <li><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Reference...</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 id="syllabus-r">Open Refine</h3>
        <ul>
            <li>Introduction to OpenRefine</li>
            <li>Importing data</li>
            <li>Basic functions</li>
            <li>Advanced Functions</li>
            <li><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">Reference...</a></li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <h3 id="syllabus-r">Introduction to R</h3>
        <ul>
            <li>Working with vectors and data frames</li>
            <li>Manipulating data in R</li>
            <li>Reading and plotting data</li>
            <li>Creating and using functions</li>
            <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
        </ul>
    </div>
</div>
